/* styles for the general app container */
.App {
  text-align: center;
  height: 100vh;
  background-color: black;
  overflow: auto;
}


/* styling the hello world heading */
h1 {
  color: white;
  text-transform: capitalize;
  animation: change-color 1s linear infinite;
}

/* the animation code */
@keyframes change-color {
    0%, 100% {
      color: yellow; 
    }
    
    50% {
      color: orange; 
    }
}